<div class="container">
  <h1>入退室記録アプリ</h1>
  <div class="row">
    <div class="col-sm-6">
      <h2>ユーザー一覧</h2>
      <%= form_with url: "/entry" do |f| %>
        <% @users.each do |user| %>
          <%= f.radio_button :name, user.name %>
          <%= f.label :name, user.name %>
          <br>
        <% end %>
        <%= f.submit "入室", class: "btn btn-secondry" %>
      <% end %>
    </div>
    <div class="col-sm-6">
      <h2>入室者一覧</h2>
      <% if @records_in_room.empty? %>
        <p>入室者なし</p>
      <% else %>
        <table border='1'>
          <thead>
            <tr>
              <th>名前</th>
              <th>入室時間</th>
            </tr>
          </thead>
          <tbody>
            <% @records_in_room.each do |record| %>
              <tr>
                <td><%= User.find_by(id:record.user_id).name %></td>
                <td><%= record.created_at %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
  <h2>退室する</h2>
  <%= form_with url: "/exit" do |f| %>
    <% @records_in_room.each do |record| %>
      <%= f.radio_button :name, User.find_by(id:record.user_id).name %>
      <%= f.label :name, User.find_by(id:record.user_id).name %>
      <br>
    <% end %>
    <%= f.submit "退室", class: "btn btn-secondary" %>
  <% end %>
  <h2>管理</h2>
  <a href="/users">ユーザー一覧</a>
  <br>
  <a href="/users/new">ユーザー追加</a>
  <br>
  <!-- <a href="/static_pages/help">マニュアル（準備中）</a> 
  <br> -->
  <a href="/records/index">入退室一覧</a>
</div>
